<% length ||= 0 %>
<tr class="nested-fields sortable">
  <td class="thumb-field">
    <div class="thumbnail">
      <% if f.object.thumb_url %>
        <img src="<%= f.object.thumb_url %>">
      <% end %>
    </div>
    <%= f.hidden_field :external_id, class: "external_id" %>
    <%= f.hidden_field :from, class: "from" %>
    <%= f.hidden_field :thumb_url, class: "thumb-url" %>
    <%= f.hidden_field :image_url, class: "image-url" %>
    <%= f.hidden_field :order, class: "order" %>
    <%= f.hidden_field :user_id, class: "user_id", value: current_user.id %>
  </td>
  <td class="caption-field">
    <%= f.text_field :caption, class: "form-control" %>
  </td>
  <td>
    <span class="pull-right">
      <%= link_to icon('chevron-up'), "#", class: "up", style: ("display:none;" if f.object.order == 0) %>
      <%= link_to icon('chevron-down'), "#", class: "down", style: ("display:none;" if f.object.order == length - 1) %>
      <%= link_to_remove_association icon('remove'), f %>
    </span>
  </td>
</tr>