<h4><%= @trip.name %></h4>
<p><strong>Date:</strong> <%= @trip.date %></p>
<p><strong>Countries:</strong> <span id="countryNames"><%= @trip.countries.map(&:name).join(", ") %></span></p>
<p><strong>Categories:</strong> <%= @trip.categories.map(&:name).join(", ") %></p>
<% @trip.photos.each_slice(2) do |photo_group| %>
  <div class="row">
  <% photo_group.each do |p| %>
    <div class="col-xs-6 col-md-6">
      <%= link_to image_tag(p.thumb_url), p.image_url, {"class": "thumbnail", "data-toggle": "lightbox", "data-gallery": "tripLightbox", "data-title": @trip.name, "data-footer": p.caption} %>
    </div>
  <% end %>
  </div>
<% end %>