<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <button type="button" class="btn btn-primary" id="tripInfoMapButton">Show Trip <span id="tripInfoMapButtonText">Map</span></button>
  <h4 class="modal-title" id="tripInfoModalLabel">Trip Info</h4>
</div>
<div class="modal-body">
  <h4><%= @trip.name %></h4>
  <p>
    <% @trip.categories.each do |c| %>
      <span class="label label-primary"><%= c.name %></span>
    <% end %>
  </p>
  <p><strong>Date:</strong> <%= @trip.date %></p>
  <% if @trip.travel_partners.present? %>
    <p><strong>Travel Partners:</strong> <%= @trip.travel_partners.where(user_id: @user.id).map(&:name).join(", ") %></p>
  <% end %>
  <p><strong>Countries:</strong> <span id="countryNames"><%= @trip.countries.map(&:name).join(", ") %></span></p>
  <p><strong>Places:</strong> <%= @trip.places.map(&:name).join(", ") %> <span id="placesInfo"><%= raw @trip.places.pluck(:name, :latitude, :longitude).to_json %></span></p>
  <% @trip.photos.each_slice(2) do |photo_group| %>
    <div class="row">
    <% photo_group.each do |p| %>
      <div class="col-xs-6 col-md-6">
        <%= link_to image_tag(p.thumb_url), p.image_url, {"class": "thumbnail", "data-toggle": "lightbox", "data-gallery": "tripLightbox", "data-title": @trip.name, "data-footer": p.caption, "data-width": ("960" if p.from == "youtube")}.compact %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
<div class="modal-footer">
  <% if current_user %>
    <%= link_to "Share", '#', class: "btn btn-default", 'data-toggle': "modal", 'data-target': "#shareTripModal" %>
    <%= link_to "Edit", edit_trip_path(@trip), class: "btn btn-primary", remote: true %>
    <%= link_to "Delete", trip_path(@trip), class: "delete-trip btn btn-danger", method: :delete, remote: true, data: { confirm: "Do you really want to delete the trip?"} %>
  <% end %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>