<!DOCTYPE html>
<html>
<head>
  <title>TravelGlobe<%= " - #{@user.name}" if @user %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="A map-based overview of where in the world you have been travelling, including photos and info for each trip." />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="TravelGlobe<%= " - #{@user.name}" if @user %>" />
  <meta property="og:description" content="A map-based overview of where in the world you have been travelling, including photos and info for each trip." />
  <meta property="og:image" content="<%= URI.join(root_url, image_path('travelglobe.png')) %>" />
  <meta property="fb:app_id" content="1696173967323541">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'old', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.8/select2-bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>
</head>
<body data-rails-env="<%= Rails.env %>">
<%= render 'layouts/header' %>
<input id="search" class="controls" type="text" placeholder="Search">
<div id="map"></div>
<script>
  var map;
  var markers = [];

  $(document).ready(function() {
    // TODO: Move to js file
    
    $(window).resize(function() {
      $("#map").css("height", $(window).height() - $('#navbar').height());
    }).resize();

    <% if current_user %>
    // Update Facebook image URLs since they expire after some time
    $.get("/photos/update_facebook_urls");
    <% end %>

    $('#trips').DataTable({
      "lengthChange": false,
      "info": false,
      "autoWidth": false,
      "drawCallback": function( settings ) {
        if(!$("#trips").parent().hasClass("table-responsive")){
          $("#trips").wrap("<div class='table-responsive'></div>");
        }
      },
      "order": [[0, "desc"]],
      "language": {
        "zeroRecords": "No matching trips found"
      },
      <% if current_user %>
      "columns": [
        {"width": "22.5%"},
        {"width": "22.5%"},
        {"width": "22.5%"},
        {"width": "22.5%"},
        {"visible": false},
        { "width": "5%", "orderable": false },
        { "width": "5%", "orderable": false }
      ]
      <% else %>
      "columns": [
        {"width": "25%"},
        {"width": "25%"},
        {"width": "25%"},
        {"width": "25%"},
        {"visible": false}
      ]
      <% end %>
    });

    $('#placesLived').DataTable({
      "lengthChange": false,
      "info": false,
      "autoWidth": false,
      "drawCallback": function( settings ) {
        if(!$("#placesLived").parent().hasClass("table-responsive")){
          $("#placesLived").wrap("<div class='table-responsive'></div>");
        }
      },
      "order": [[0, "desc"]],
      "language": {
        "zeroRecords": "No matching places found"
      },
      <% if current_user %>
      "columns": [
        { "width": "30%" },
        { "width": "30%" },
        { "width": "30%" },
        { "width": "5%", "orderable": false },
        { "width": "5%", "orderable": false }
      ]
      <% else %>
      "columns": [
        { "width": "33.3%" },
        { "width": "33.3%" },
        { "width": "33.3%" }
      ]
      <% end %>
    });
  });

  function initMap() {
    var travelGlobeMapType = new google.maps.StyledMapType([
      {
        "featureType": "all",
        "elementType": "all",
        "stylers": [
          {"hue": "#3b5998"},
          {"saturation": -22}
        ]
      }, {
        "featureType": "administrative",
        "elementType": "labels.icon",
        "stylers": [
          {"visibility": "on"},
          {"color": "#3b5998"}
        ]
      }, {
        "featureType": "administrative.country",
        "elementType": "geometry.stroke",
        "stylers": [
          {"visibility": "simplified"},
          {"color": "#3b5998"}
        ]
      }, {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
          {"visibility": "on"},
          {"color": "#f7f7f7"},
          {"saturation": 10},
          {"lightness": 76}
        ]
      }, {
        "featureType": "landscape.natural",
        "elementType": "geometry",
        "stylers": [
          {"color": "#f7f7f7"}
        ]
      }, {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
          {"color": "#8b9dc3"},
          {"visibility": "simplified"}
        ]
      }, {
        "featureType": "road.highway",
        "elementType": "labels.icon",
        "stylers": [
          {"visibility": "off"}
        ]
      }, {
        "featureType": "road.local",
        "elementType": "geometry.fill",
        "stylers": [
          {"color": "#8b9dc3"}
        ]
      }, {
        "featureType": "transit.line",
        "elementType": "all",
        "stylers": [
          {"color": "#ffffff"},
          {"weight": 0.43}
        ]
      }, {
        "featureType": "transit",
        "elementType": "labels",
        "stylers": [
          {"visibility": "off"}
        ]
      }, {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
          {"color": "#3b5998"}
        ]
      }, {
        "featureType": "water",
        "elementType": "labels",
        "stylers": [
          {"color": "#3b5998"},
          {"saturation": 10},
          {"lightness": 30},
          {"weight": 0.43}
        ]
      }
    ], {name: 'TravelGlobe Map'});

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 25, lng: 25},
      zoom: 3,
      minZoom: 3,
      maxZoom: 9,
      mapTypeControl: false,
      streetViewControl: false,
      fullscreenControl: false,
      keyboardShortcuts: false
    });

    map.mapTypes.set("travelglobe", travelGlobeMapType);
    map.setMapTypeId("travelglobe");

    // Prevent panning outside map boundaries
    map.addListener('center_changed', function() {
      var latNorth = map.getBounds().getNorthEast().lat();
      var latSouth = map.getBounds().getSouthWest().lat();
      var newLat;

      if (latNorth < 85 && latSouth > -85)  // OK (both top and bottom within boundaries)
        return;
      else {
        if (latNorth > 85 && latSouth < -85)  // OK (both top and bottom outside boundaries)
          return;
        else {
          if (latNorth > 85)
            newLat =  map.getCenter().lat() - (latNorth - 85);  // Too far north, centering
          if (latSouth < -85) 
            newLat =  map.getCenter().lat() - (latSouth + 85);  // Too far south, centering
        }
      }
      if (newLat) {
          var newCenter = new google.maps.LatLng(newLat, map.getCenter().lng());
          map.setCenter(newCenter);
      }
    });

    // Create the search box and link it to the UI element.
    var searchInput = document.getElementById('search');
    var searchBox = new google.maps.places.SearchBox(searchInput);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(searchInput);

    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }

      // Remove focus from the search box
      searchInput.blur();

      var place = places[0];

      removeMarkers();

      // Create a marker for each place.
      markers.push(new google.maps.Marker({
        map: map,
        title: place.name,
        position: place.geometry.location,
        label: "\u25CF",
        icon: {
          url: "<%= URI.join(root_url, image_path('map-marker.png')) %>",
          labelOrigin: new google.maps.Point(21, 10)
        }
      }));

      if (place.geometry.viewport) {
        // Only geocodes have viewport.
        map.fitBounds(place.geometry.viewport);
      } else {
        map.setCenter(place.geometry.location);
        map.setZoom(9);
      }
    });

    <% if @user %>
    var user_id = <%= @user.id %>;
    // Color visited countries
    var visitedCountries = $.getJSON("/users/"+user_id+"/visited_countries").success(function(data) {
      var layerVisited = new google.maps.FusionTablesLayer({
        query: {
          select: 'Geometry',
          from: '1N2E7_-NS9_cQ7NKL61BwtvcrNLEeYB4Mk1G8LZzd',
          where: 'Code IN (\'' + data.countries.join('\',\'') + '\')' 
        },
        styles: [{
          polygonOptions: {
            fillColor: '#00FF00',
            fillOpacity: 0.3
          }
        }],
        suppressInfoWindows: true
      });
      layerVisited.setMap(map);
      google.maps.event.addListener(layerVisited, "click", function(event) {
        $('.modal.in').modal('hide');
        $('#myTripsModal').modal('show');
        $('#trips').DataTable().search(event.row.Name.value).draw();
      });
    });

    // Add markers to places lived
    addHouseMarkers(<%= raw @places_lived.pluck(:address, :latitude, :longitude).to_json %>);

    <% end %>
  }

  function moveMap(countries, place) {
    var geocoder = new google.maps.Geocoder();
    var bounds = new google.maps.LatLngBounds();
    bounds.extend(new google.maps.LatLng(place[0], place[1]));
    countries.forEach(function(country) {
      geocoder.geocode( { 'address': country}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          bounds.union(results[0].geometry.viewport);
          // FIXME: don't call fitBounds multiple times
          map.fitBounds(bounds);
        }
      });
    });
  }

  function moveMapLatLng(latitude, longitude) {
    var location = new google.maps.LatLng(latitude, longitude);
    map.setCenter(location);
    map.setZoom(9);
  }

  function addMarkers(places) {
    var infowindow = new google.maps.InfoWindow();
    if (places.length < 10) {
      var labels = '123456789';
    } else {
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    }
    places.forEach(function(place, i) {
      var marker = new google.maps.Marker({
        position: {lat: parseFloat(place[1]), lng: parseFloat(place[2])},
        label: labels[i % labels.length],
        title: place[0],
        icon: {
          url: "<%= URI.join(root_url, image_path('map-marker.png')) %>",
          labelOrigin: new google.maps.Point(21, 12)
        },
        map: map
      });
      marker.addListener('click', function() {
        infowindow.setContent("<b>" + place[0] + "</b>");
        infowindow.open(map, marker);
      });
      markers.push(marker);
    });
  }

  function removeMarkers() {
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
    markers = [];
  }

  function addHouseMarkers(places) {
    var infowindow = new google.maps.InfoWindow();
    places.forEach(function(place, i) {
      var marker = new google.maps.Marker({
        position: {lat: parseFloat(place[1]), lng: parseFloat(place[2])},
        title: place[0],
        icon: {
          url: "<%= URI.join(root_url, image_path('house-marker.png')) %>",
          anchor: new google.maps.Point(16,20)
        },
        map: map
      });
      marker.addListener('click', function() {
        infowindow.setContent("<b>" + place[0] + "</b>");
        infowindow.open(map, marker);
      });
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.37&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap&libraries=places&language=en" async defer></script>

<%= yield %>
<% if current_user %>
<% if @share_requests.present? %>
<!-- Share Request Modal -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="shareRequestModal" tabindex="-1" role="dialog" aria-labelledby="shareRequestModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="shareRequestModalLabel">Share Requests</h4>
        </div>
        <%= form_tag accept_share_request_path, remote: true, id: "shareRequestForm" do %>
        <div class="modal-body">
          <p>Other TravelGlobe users want to share the following trips with you:</p>
          <div class="table-responsive">
            <table class="table table-hover" id="shareRequestFormTable">
              <thead>
                <tr>
                  <th></th>
                  <th>From</th>
                  <th>Trip name</th>
                </tr>
              </thead>
              <tbody>
                <% @share_requests.each do |s| %>
                  <tr>
                    <td><%= check_box_tag "share_request_ids[]", s.id, true %></td>
                    <td><%= s.from_user.name %></td>
                    <td><%= s.trip.name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <p>If you accept the share requests, the trips will be included on your travel map.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Accept selected", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(window).load(function(){
      $('#shareRequestModal').modal('show');
  });
</script>
<% end %>
<!-- Trip Form Modal -->
<div class="modal fade" data-backdrop="static" id="tripFormModal" tabindex="-1" role="dialog" aria-labelledby="tripFormModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
</div>
<!-- Photo Uploader Modal -->
<div class="modal fade" id="photoUploaderModal" tabindex="-1" role="dialog" aria-labelledby="photoUploaderModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="photoUploaderModalLabel">Photo Uploader</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Video Selector Modal -->
<div class="modal fade" id="videoSelectorModal" tabindex="-1" role="dialog" aria-labelledby="videoSelectorModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
</div>
<!-- Place Lived Form Modal -->
<div class="modal fade" data-backdrop="static" id="placeLivedFormModal" tabindex="-1" role="dialog" aria-labelledby="placeLivedFormModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
</div>
<!-- Share Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="shareModalLabel">Share</h4>
        </div>
        <div class="modal-body">
            <p>Share this link with your friends to let them see your map and all your trips</p>
            <div class="input-group">
              <span class="input-group-addon">
                <%= icon("share-alt") %>
              </span>
              <%= text_field_tag "share_link", URI.join(root_url, "/share/", current_user.token), class: "form-control", id: "share-link" %>
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="copy-btn" data-clipboard-target="#share-link">Copy link</button>
              </span>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% if @user %>
<!-- My Trips Modal -->
<div class="modal fade" id="myTripsModal" tabindex="-1" role="dialog" aria-labelledby="myTripsModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-lg vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myTripsModalLabel">My Trips</h4>
        </div>
        <div class="modal-body">
          <table id="trips" class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Countries/States</th>
                <th>Categories</th>
                <th>Travel Partners</th>
                <% if current_user %>
                  <th></th>
                  <th></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
            <% @trips.each do |t| %>
              <tr>
                <td><%= t.date %></td>
                <td><%= link_to t.name, trip_path(t, user: @user.id), remote: true %></td>
                <td><%= t.countries.map(&:name).join(", ") %></td>
                <td><%= t.categories.map(&:name).join(", ") %></td>
                <td><%= t.travel_partners.where(user_id: @user.id).map(&:name).join(", ") %></td>
                <% if current_user %>
                  <td><%= link_to icon("pencil"), edit_trip_path(t), remote: true %></td>
                  <td><%= link_to icon('remove'), trip_path(t), class: "delete-trip", method: :delete, remote: true, data: { confirm: "Do you really want to delete the trip?"} %></td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <% if current_user %>
            <%= link_to "Add New Trip", new_trip_path, class: "btn btn-primary", remote: true %></td>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Places Lived Modal -->
<div class="modal fade" id="placesLivedModal" tabindex="-1" role="dialog" aria-labelledby="placesLivedModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-lg vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="placesLivedModalLabel">Places I've Lived</h4>
        </div>
        <div class="modal-body">
          <table id="placesLived" class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Address</th>
                <th>Country/State</th>
                <% if current_user %>
                  <th></th>
                  <th></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
            <% @places_lived.each do |p| %>
              <tr>
                <td><%= p.date %></td>
                <td><%= link_to p.address, place_lived_path(p), remote: true %></td>
                <td><%= p.country.name %></td>
                <% if current_user %>
                  <td><%= link_to icon("pencil"), edit_place_lived_path(p), remote: true %></td>
                  <td><%= link_to icon('remove'), place_lived_path(p), class: "delete-place", method: :delete, remote: true, data: { confirm: "Do you really want to delete the place?"} %></td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <% if current_user %>
            <%= link_to "Add New Place", new_place_lived_path, class: "btn btn-primary", remote: true %></td>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Statistics Modal -->
<div class="modal fade" id="statisticsModal" tabindex="-1" role="dialog" aria-labelledby="statisticsModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="statisticsModalLabel">Statistics</h4>
        </div>
        <div class="modal-body">
          <div class="well well-sm">
            <h4>Number of Trips: <span class="label label-primary label-statistics"><%= @user.trips.count %></span></h4>
            <h4>Number of Visited Countries: <span class="label label-primary label-statistics"><%= @user.visited_countries_count %></span></h4>
            <h4>Number of Days Travelling: <span class="label label-primary label-statistics"><%= @user.days_travelling %></span></h4>
            <h4>Number of Places I've Lived: <span class="label label-primary label-statistics"><%= @user.places_lived.pluck(:address).uniq.count %></span></h4>
          </div>
          <div class="well well-sm">
            <h4>Top 10 Travel Partners:</h4>
            <ol class="colored-list">
              <% @travel_partners_toplist.each do |t| %>
                <li><strong><%= t.name %></strong>, <%= link_to pluralize(t.trip_count, 'trip'), '#', class: "travelpartner", remote: true %></li>
              <% end %>
            </ol>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Trip Info Modal (Sidebar) -->
<div class="modal modal-left fade" data-backdrop="false" id="tripInfoModal" tabindex="-1" role="dialog" aria-labelledby="tripInfoModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<!-- Trip Notes Modal -->
<div class="modal fade" id="tripNotesModal" tabindex="-1" role="dialog" aria-labelledby="tripNotesModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="tripNotesModal">Trip Notes</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Share Trip Modal -->
<div class="modal fade" data-backdrop="false" id="shareTripModal" tabindex="-1" role="dialog" aria-labelledby="shareTripModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<% else %>
<!-- Login Modal -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="jumbotron">
            <%= image_tag("travelglobe.png", class: "img-responsive") %>
            <h2>Welcome to TravelGlobe!</h2>
            <% if alert %>
              <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Error: </strong><%= alert %>
              </div>
            <% end %>
            <p>Create a <span class="text-important">map-based overview</span> of where in the world you have been <span class="text-important">travelling</span>, including <span class="text-important">photos and info for each trip</span>.</p>
            <%= link_to image_tag("facebook.png"), "/auth/facebook" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(window).load(function(){
      $('#loginModal').modal('show');
  });
</script>
<% end %>

</body>
</html>
